@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Nothing+You+Could+Do&family=Sedgwick+Ave&display=swap');
*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    margin:0;
    display: flex;
    background-color: #3D405B;
    background-image: url("https://transparenttextures.com/patterns/asfalt-dark.png");
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

#left-side {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-self: stretch;
}

#root {
    height: 100%;
    width: 100%;
    /* margin: 2rem; */
    border-radius: 1rem;
    border: 10px solid rgba(129, 178, 154, 0.85);
    background-color: lightgray;
    opacity: 85%;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

header {
    display: flex;
    margin: -0.3rem;
    padding: 0;
}

img#logo {
    width: 6rem;
    flex-grow: 1;
}

img.photo {
    padding: 0;
    margin: 0.5rem 0rem 0.5rem 0;
    border-radius: 0.5rem;
    border: 5px solid rgba(129, 178, 154, 0.85);
    object-fit: cover;
    width: 100%;
    height: 14rem;
}

.photo-container {
   object-fit:none;
}

#heading {
    color: #F4F1DE;
    font-family: "Sedgwick Ave";
    font-size: 2.1rem;
    flex-grow: 4;
    align-self: center;
    justify-self: center;
    padding: 1rem;
    opacity: 90%;
}

#input-box {
    display: flex;
    justify-content: center;
}

input {
    padding: 0.6rem 0.7rem;
    margin: 0.2rem 0 0.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #F4F1DE;
    color: #3D405B;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

input:hover {
    background-color: #d7fbe9;
}

input:focus{
    outline: none;
    background-color: #d7fbe9;
}

tr {
    font-size: 1rem;
    height: 10px;
}

td.equipment{
    text-align: left;
    font-weight: bold;
    color: #333755;
    padding: 0.2rem;
    word-wrap: none;
}

td.availability {
    text-align: right;
    width: 3rem;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 1px 1px 1px rgb(104, 104, 104);
    padding-right: 0.2rem;
}

.x {
    color: #E07A5F;
}

.o {
    color: #459675;
    text-shadow: 1px 1px 1px rgba(119, 233, 115, 0.8) !important;
}

.info-box {
    background-color: rgba(244, 241, 222, 0.3);
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.equipment {
    margin-bottom: 0.5rem;
}

.spot-name {
    color:rgb(242, 204, 143);
    text-shadow: 1px 1px 1px rgb(99, 99, 99);
    font-size: 1.5rem;
    margin: 0;
    margin-left: 0.3rem;
    padding-bottom: 1rem;
}

.spot-name:hover {
cursor: pointer;
color:#E07A5F;
}

.subtitle {
    display: inline-block;
    font-size: 0.9rem;
    color: #f1ecc6;
    text-shadow: 1px 1px 1px rgb(97, 97, 97);
    margin: 0;
    padding: 0.2rem 0.3rem 0.3rem;
}

.text {
    display: inline-block;
    font-weight: bold;
    color: #333755;
    font-size: 0.8rem;
    text-align: right;
    align-self: center;
    padding-right: 0.3rem;
}

.info-part {
    background-color: rgba(244, 241, 222, 0.35);
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.surface {
    flex-direction: row;
    justify-content: space-between;
}

.right-info {
    align-self: center;
    margin-left: 0.5rem;
}

.label {
    color: #e07a5f;
    font-size: 1rem !important;
}

#query {
    overflow-y: auto;
    margin-right: 0.5rem;
}

::-webkit-scrollbar {
    background-color: rgba(242, 204, 143, 0.4);
    width: 1rem;
    border-radius: 1rem;
}

  ::-webkit-scrollbar-thumb {
    background: rgba(242, 204, 143, 0.7);
    border-radius: 1rem; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(242, 204, 143, 2); 
  }


@media only screen and (max-width: 800px) {
#heading {
    font-size: 1.5rem;
}
}

@media only screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }
    }

/*# sourceMappingURL=styles.d7b7e2da.css.map */